<footer>
    <div class="container">
        <div class="row">
            <div class="footer-content col-xl-8  px-4">
                <div class="row">
                    <div class="col-lg-6 px-0">
                        <div class="logo" data-aos="fade-down-right">
                            <a href="./index.html">
                                <i class="fa fa-utensils me-3"></i>
                                <h1 class="mb-0">OUM KELTOUM</h1>
                            </a>
                        </div>
                    </div>
                    <div data-aos="fade-down" class="col-lg-6 pt-4 pt-lg-0 d-flex align-items-center justify-content-start justify-content-lg-end">
                        <div class="social-icons d-flex">
                            <ul class="d-flex mb-0 ps-0">
                                <li class="mx-2"><a class="text-decoration-none text-white" href="#"><i class="fab fa-facebook"></i></a></li>
                                <li class="mx-2"><a class="text-decoration-none text-white" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="mx-2"><a class="text-decoration-none text-white" href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="mx-2"><a class="text-decoration-none text-white" href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 content-desc" data-aos="fade-right">
                    <p class="px-0">Découvrez l'authenticité de la cuisine marocaine chez OUM KELTOUM. Depuis 2008, nous vous proposons des plats traditionnels préparés avec des épices authentiques importées directement du Maroc. Notre restaurant familial vous accueille dans une ambiance chaleureuse et conviviale, fidèle à l'hospitalité marocaine.</p>
                </div>
                <div class="row" data-aos="fade-right">
                    <div class="d-flex flex-column flex-lg-row px-0 justify-content-between">
                        <div class="location d-flex align-items-center pe-2 py-3">
                            <i class="fa-solid fa-location-dot text-white fa-2x border-bottom pb-2"></i>
                            <div class="ps-3">
                                <p class="mb-0">
                                    45 Avenue Mohammed V, Casablanca <br>
                                    Quartier des Habous, Marrakech
                                </p>
                            </div>
                        </div>
                        <div class="location d-flex align-items-center pe-2 py-3">
                            <i class="fa-solid fa-mobile text-white fa-2x border-bottom pb-2"></i>
                            <div class="ps-3">
                                <p class="mb-0">
                                    <a style="text-decoration: none;color:white" href="tel:+212 620202020">+212 620202020</a> <br>
                                    <a style="text-decoration: none;color:white" href="tel:+212 620202020">+212 620202020</a>
                                </p>
                            </div>
                        </div>
                        <div class="location d-flex align-items-center pe-2 py-3">
                            <i class="fa-solid fa-envelope text-white fa-2x border-bottom pb-2"></i>
                            <div class="ps-3">
                                <p class="mb-0">
                                    contact@oumkeltoum.ma <br>
                                    reservation@oumkeltoum.ma
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="reservation-box" data-aos="fade-down-left">
                    <div class="reservation-wrapper">
                        <h2>Horaires d'Ouverture</h2>
                        <div class="reservation-date-time">
                            <p>Lundi: ............................ 12:00 - 02:00</p>
                            <p>Mardi: ............................ 12:00 - 02:00</p>
                            <p>Mercredi: ........................ 12:00 - 02:00</p>
                            <p>Jeudi: ............................. 12:00 - 02:00</p>
                            <p>Vendredi: ........................ 12:00 - 02:00</p>
                            <p>Samedi: .......................... 12:00 - 02:00</p>
                            <p>Dimanche: ....................... 12:00 - 02:00</p>
                        </div>
                        <h2 class="pb-2">Réservations</h2>
                        <h3><a style="color:white" href="tel:+212 620202020">+212 620202020</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="text-center pt-4 mt-3 pt-lg-0">&copy; <span id="copyrightCurrentYear"></span> <b> OUM KELTOUM.</b> All rights reserved. Design by <a href="mailto:contact@anassbenfares.com" class="fw-bold author-name">Anass benfares</a></p>
        </div>
    </div>
</footer>