<div class="container header my-3 d-none d-lg-flex">
    <div class="logo">
        <a href="./index.html">
            <i class="fa fa-utensils me-3"></i>
            <h2 class="mb-0">OUM KELTOUM</h2>
        </a>
    </div>
    <div class="menus">
        <ul class="d-flex mb-0">
            <li class="list-unstyled py-2">
                <a class="text-decoration-none text-uppercase p-4" href="./index.html">Accueil</a>
            </li>
            <li class="list-unstyled py-2">
                <a class="text-decoration-none text-uppercase p-4" href="./about.html">À Propos</a>
            </li>
            <li class="list-unstyled py-2">
                <a class="text-decoration-none text-uppercase p-4" href="./reservation.html">Réservation</a>
            </li>
            <li class="list-unstyled py-2">
                <a class="text-decoration-none text-uppercase p-4" href="./menu.html">Menu</a>
            </li>
            <li class="list-unstyled py-2">
                <a class="text-decoration-none text-uppercase p-4" href="./contact.html">Contact</a>
            </li>
        </ul>
    </div>
    <div class="icons">
    </div>
</div>