<div class="d-flex justify-content-around py-3 align-items-center d-lg-none">
    <div id="hamburger">
        <i class="fa fa-2x fa-bars me-3 text-white"></i>
    </div>
    <div class="mobile-nav-logo">
        <div class="logo">
            <a href="./index.html">
                <i class="fa fa-utensils me-3"></i>
                <h1 class="mb-0">OUM KELTOUM</h1>
            </a>
        </div>
    </div>
    <div class="mobile-nav-icons">
        <div class="icons">
            <a class="text-decoration-none" id="searchBtnMobile" href="#">
            </a>
            <a class="text-decoration-none" id="shoppingbuttonMobile" href="#">
            </a>
        </div>
    </div>
    <div class="position-fixed w-75 bg-white h-100 top-0 start-0" id="mobile-menu">
        <div id="hamburger-cross" class="d-flex justify-content-end align-items-center py-2">
            <i class="fa fa-2x fa-plus me-3"></i>
        </div>
        <div class="menus">
            <ul class="d-flex flex-column ps-2 mb-0 mt-4">
                <li class="list-unstyled py-3">
                    <a class="text-dark text-decoration-none text-uppercase p-4" href="./index.html">Accueil</a>
                </li>
                <li class="list-unstyled py-3">
                    <a class="text-dark text-decoration-none text-uppercase p-4" href="./about.html">À Propos</a>
                </li>
                <li class="list-unstyled py-3">
                    <a class="text-dark text-decoration-none text-uppercase p-4" href="./reservation.html">Réservation</a>
                </li>
                <li class="list-unstyled py-3">
                    <a class="text-dark text-decoration-none text-uppercase p-4" href="./menu.html">Menu</a>
                </li>
                <li class="list-unstyled py-3">
                    <a class="text-dark text-decoration-none text-uppercase p-4" href="./contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>