<!-- Desktop Navigation -->
<nav class="desktop-nav">
    <div class="container header my-3 d-none d-lg-flex">
        <div class="logo">
            <a href="./index.html">
                <i class="fa fa-utensils text-white me-3"></i>
                <h2 class="mb-0 text-white">OUM KELTOUM</h2>
            </a>
        </div>
        <div class="menus">
            <ul class="d-flex mb-0">
                <li class="list-unstyled py-2">
                    <a class="text-decoration-none text-uppercase p-4 text-white" href="./index.html">Accueil</a>
                </li>
                <li class="list-unstyled py-2">
                    <a class="text-decoration-none text-uppercase p-4 text-white" href="./about.html">À Propos</a>
                </li>
                <li class="list-unstyled py-2">
                    <a class="text-decoration-none text-uppercase p-4 text-white" href="./menu.html">Menu</a>
                </li>
                <li class="list-unstyled py-2">
                    <a class="text-decoration-none text-uppercase p-4 text-white" href="./contact.html">Contact</a>
                </li>
                <li class="list-unstyled py-2">
                    <a class="text-decoration-none text-uppercase p-4 text-white" href="./reservation.html">Réservation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Mobile Navigation -->
<nav class="mobile-nav">
    <div class="container-fluid header d-lg-none my-3">
        <div class="header">
            <div class="logo">
                <a href="./index.html">
                    <i class="fa fa-utensils text-white me-3"></i>
                    <h2 class="mb-0 text-white">OUM KELTOUM</h2>
                </a>
            </div>
            <div id="hamburger" class="hamburger-icon">
                <i class="fa fa-bars text-white fs-2"></i>
            </div>
            <div id="hamburger-cross" class="hamburger-cross d-none">
                <i class="fa fa-times text-white fs-2"></i>
            </div>
        </div>
    </div>
</nav>

<!-- Mobile Menu -->
<div id="mobile-menu" class="mobile-menu d-lg-none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="mobile-menu-list">
                    <li class="mb-3">
                        <a href="./index.html" class="text-white text-decoration-none d-block">
                            <i class="fas fa-home me-2"></i> Accueil
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="./about.html" class="text-white text-decoration-none d-block">
                            <i class="fas fa-info-circle me-2"></i> À Propos
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="./menu.html" class="text-white text-decoration-none d-block">
                            <i class="fas fa-utensils me-2"></i> Menu
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="./contact.html" class="text-white text-decoration-none d-block">
                            <i class="fas fa-envelope me-2"></i> Contact
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="./reservation.html" class="text-white text-decoration-none d-block">
                            <i class="fas fa-calendar me-2"></i> Réservation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>